*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background: hsl(300, 24%, 96%);
    font-family: 'Spartan', sans-serif;
    overflow: hidden;
    font-size: 15px;
}
.background-top{
    position: absolute;
    z-index: -1;
    top: -20px;
    left: -20px;
}
.background-bottom{
    position: absolute;
    z-index: -1;
    right: -30px;

}
.container{
    margin: 70px auto;
    width: 85%;
}
.main{
    float: left;
    width: 50%;
    height: 50%;
    padding:30px 50px;
}
.main h1{
    width: 55%;
    margin-bottom: 10px;
    color:  hsl(300, 43%, 22%);
}
.main p{
    width: 90%;
    line-height: 1.5;
    margin-bottom: 20px;
    color: hsl(303, 10%, 53%);
}
ul{
    float: left;
    width: 50%;
    height: 50%;
    padding: 20px 40px;
}
li{
    display: block;
    width: 85%;
    padding:20px 20px;
    background: hsla(289, 88%, 90%, 0.349);
    border-radius: 5px;
    margin: 15px 0px;
}
li>h4{
    display: inline;
    margin-left: 60px;
    color: hsl(300, 43%, 22%);
}
.box-two{
    margin: 15px 45px;
}
.box-three{
    margin: 15px 95px;
}
.bottom{
    float: left;
    padding: 45px 50px;
}
.personal-box{
    width: 30%;
    height: 250px;
    float: left;
    margin-right: 40px;
    color: white;
    background-color: hsl(300, 43%, 22%);
    border-radius: 8px;
    padding: 40px 30px;
    box-shadow: 0px 0px 2px rgb(88, 86, 86);
}
.personal-box:last-child{
    margin-right: 0;
}
.personal-box img{
    border-radius: 50%;
    float: left;
    width: 15%;
}
.personal-box p{
    clear: left;
    margin-top: 30px;
}
.personal-box h4{
    margin-left: 60px;
    margin-top: 5px;
}
.personal-box h5{
    margin-top: 8px;
    margin-left: 60px;
    font-weight: normal;
    color: hsl(303, 10%, 53%);
}
.two{
    position: relative;
    top:20px
}
.three{
    position: relative;
    top:40px;
}